.container {
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.mainTimer {
    text-align: center;
    position: sticky;
    float: left;
    top: 9%;
    width: 100%;
}

.currentTime {
}

.loop {
    width: 100%;
    left: 0;
}

.allSplits {
    
}

.split {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    width: 100%;
}

.splitInfo {
    display: flex;
    flex-direction: row;
}

.splitName {
    margin-right: 10px;
}

.runTime {
    right: 0;
}

.buttons {
    text-align: center;
    position: sticky;
    float: left;
    bottom: 0;
    width: 100%;
}

.buttons img {
    height: 30px;
    width: 30px;
}

.btnItem {
    border-style: solid;
}