.container {
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.mainTimer {
    text-align: center;
    position: sticky;
    float: left;
    top: 9%;
    width: 100%;
}

.loop {
    width: 100%;
    height: calc(100vh - 200px);
    left: 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.loop::-webkit-scrollbar {
    display: none;
}

.split {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    width: 100%;
}

.splitInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.splitName {
    width: 150px;
}

.btnDeleteSplit {
    margin-left: 10px;
    background: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
}

.btnDeleteSplit img{
    width: 25px;
    height: 25px;
    margin: -5px;
}

.pad {
    width: 100%;
}

.runTime {
    right: 10%;
}

.buttons {
    position: sticky;
    float: left;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
}

.buttons img {
    height: 30px;
    width: 30px;
}

.buttons button {
    border: 2px solid transparent !important;
}

.btnItem {
    background: none;
}