.page {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(0deg, rgba(12,21,62,1) 0%, rgba(9,9,121,1) 50%, rgba(0,70,103,1) 100%);
    color: white;
}

main {
    flex: 1;
}

.sidebar {
    background: rgb(0, 0, 20);
    position: sticky;
    float: left;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

