<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Speedrun Timer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    @* <button class="addRun" @onclick="addRun">+</button> *@
    <nav class="flex-column">
        @foreach (var run in runsList)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @run.Name
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private List<Run> runsList = App.SplitDatabase.GetRuns();

    private async void addRun()
    {
        string name = await App.Current.MainPage.DisplayPromptAsync("New Run", "Enter name:");

        if (name != null)
        {
            if (string.IsNullOrWhiteSpace(name))
            {
                name = "New Run";
            }
            Run run = new Run
            {
                Index = 0,
                Record = "",
                splitIndex = 0,
                Name = name
            };

            runsList.Add(run);
            App.SplitDatabase.AddRuns(run);
            await InvokeAsync(StateHasChanged);
        }
    }

    [Table("run")]
    public class Run
    {
        [PrimaryKey]
        [Column("index")]
        public int Index { get; set; }

        [Column("record")]
        public string? Record { get; set; }

        [Column("splitIndex")]
        public int splitIndex { get; set; }

        [Column("name")]
        public string? Name { get; set; }
    }
}